<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
    <!-- tag::servlet[] -->
        <feature>servlet-4.0</feature>
    <!-- end::servlet[] -->
    <!-- tag::springboot[] -->
        <feature>springBoot-2.0</feature>
    <!-- end::springboot[] -->
	
		<feature>adminCenter-1.0</feature>
	
	<!-- tag::security - registry etc -->
		<feature>appSecurity-3.0</feature> 
		
		
		<feature>jaxrsClient-2.1</feature>
		<feature>jaxrs-2.1</feature>
		
    </featureManager>


	<!-- tag::BASIC User Registry -->
	<basicRegistry id="basic">
		<user name="admin" password="adminpwd" />
		
		<!--
		<group name="EMPLOYEE">
			<member name="admin" />
		</group>
		
		<group name="user">
			<member name="admin" />
		</group>

		<group name="vratnik">
			<member name="admin" />
		</group>
		-->
		
	</basicRegistry>
	
	<administrator-role>
		<user>admin</user>
	</administrator-role>

	<!-- tag:TAI Interceptor -->
	<library id="simpleTAI"> 
		<fileset dir="${server.config.dir}" includes="simpleTAI.jar"/> 
	</library>
	
	<trustAssociation id="myTrustAssociation" invokeForUnprotectedURI="true" 
                  failOverToAppAuthType="false">
		<interceptors id="simpleTAI" enabled="true"  
                  className="com.ibm.cicsdev.liberty.tai.Interceptor" 
                  invokeBeforeSSO="true" invokeAfterSSO="false" libraryRef="simpleTAI">
				  <properties application="myApp"/>
				  <properties application="myEEApp"/>
		</interceptors> 
	</trustAssociation> 

	<!-- end:TAI Interceptor -->

    <!-- tag::httpport[] -->
    <httpEndpoint id="defaultHttpEndpoint"
				  host="*"
                  httpPort="8080"
                  httpsPort="9443" />
    <!-- end::httpport[] -->
	

    <!-- tag::springBootApplication[] -->
    <!--
	<springBootApplication id="app" 
                           location="app.jar"
                           name="app" />
	-->
    <!-- end::springBootApplication[] -->

	<application 
		type="spring" 
		location="app.jar"
		name="myApp"
		context-root="rhocp"
		/>
	
    <application 
		type="war" 
		location="myEEApp.war"
		name="myEEApp"
		context-root="rhocp-ee">

<!--
	    <application-bnd>
			<security-role name="EMPLOYEE">
				  <group name="EMPLOYEE" />
			</security-role>
		</application-bnd>
		-->
    </application>		


	<remoteFileAccess>
		<writeDir>${server.config.dir}</writeDir>
	</remoteFileAccess>


</server>
