<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
    <!-- tag::servlet[] -->
        <feature>servlet-4.0</feature>
    <!-- end::servlet[] -->
    <!-- tag::springboot[] -->
        <feature>springBoot-2.0</feature>
    <!-- end::springboot[] -->
	<!-- tag::admincenter[] -->
		<feature>adminCenter-1.0</feature>
	<!-- end::admincenter[] -->
	<!-- tag::security - registry etc -->
		<feature>appSecurity-3.0</feature> 
	<!-- end::security - registry etc -->
		
	<!-- tag::JAX libraries -->	
		<feature>jaxrsClient-2.1</feature>
		<feature>jaxrs-2.1</feature>
	<!-- end::security - registry etc -->	
    </featureManager>

	<!-- tag::BASIC User Registry for admin-->
	<basicRegistry id="basic">
		<user name="admin" password="adminpwd" />
		<group name="user">
			<member name="admin" />
		</group>
	</basicRegistry>
	<!-- end::BASIC User Registry -->
	
	<administrator-role>
		<user>admin</user>
	</administrator-role>

	<!-- tag:TAI Interceptor -->
	<library id="simpleTAI"> 
		<fileset dir="${server.config.dir}" includes="simpleTAI.jar"/> 
	</library>
	
	<trustAssociation id="myTrustAssociation" invokeForUnprotectedURI="false" 
                  failOverToAppAuthType="false">
		<interceptors id="simpleTAI" enabled="true"  
                  className="com.ibm.liberty.tai.Interceptor" 
                  invokeBeforeSSO="false" invokeAfterSSO="true" libraryRef="simpleTAI">
				  <properties application="myApp"/>
				  <properties application="myEEApp"/>
		</interceptors> 
	</trustAssociation> 
	<!-- end:TAI Interceptor -->

    <!-- tag::httpport[] -->
    <httpEndpoint id="defaultHttpEndpoint"
				  host="*"
                  httpPort="8080"
                  httpsPort="443" />
    <!-- end::httpport[] -->

	<!-- tag::application[] - deployed application -->
	<application 
		type="spring" 
		location="app.jar"
		name="myApp"
		context-root="rhocp"
	/>
	
    <application 
		type="war" 
		location="sampleJavaEEApp.war"
		name="sampleJavaEEApp"
		context-root="rhocp-ee">

	<!-- tag::additional role binding[] -->
	    <application-bnd>
			<security-role name="user-contributor">
				  <group name="ext-contractor" access-id="ext-contractor"/>
				  <group name="ext-employee" access-id="ext-employee"/>
			</security-role>
			
			<security-role name="user-write">
				  <group name="ext-owner" access-id="ext-owner"/>
			</security-role>
			
			<security-role name="user-special">
				  <group name="ext-special" access-id="ext-special"/>
			</security-role>
			
			<security-role name="user-read">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
			
		</application-bnd>
    </application>		

	<remoteFileAccess>
		<writeDir>${server.config.dir}</writeDir>
	</remoteFileAccess>

    <!-- tag::springBootApplication[] : Alternative declaration of Spring-Boot application-->
    <!--
	<springBootApplication id="app" 
                           location="app.jar"
                           name="app" />
	-->
    <!-- end::springBootApplication[] -->


</server>
